*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
build/

# Jangan pernah commit kunci penandatangan
*.jks
*.keystore
keystore.properties
